<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60912255496-mnqup6ol250evitqh44gck0fd05hkmi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60912255496-mnqup6ol250evitqh44gck0fd05hkmi3</string>
	<key>API_KEY</key>
	<string>AIzaSyCjd60TXDK1jP73JvoV6SBvvgElEOkhyvU</string>
	<key>GCM_SENDER_ID</key>
	<string>60912255496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tohkarle.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-d7d12</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-d7d12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60912255496:ios:9f3c61677012f18bba87bd</string>
</dict>
</plist>